<!-- Contact -->
<div class="mb6">
  <!-- <h4 class="f3 fw3 lh-title mb3 tc">Drop us a line below</h4>-->
<div class="tc">

  <h1>717-208-7344</h1><br />
  <h1>contact@cabalarmeatco.com</h1><br />
  <h1>Cabalar Meat Co.</h1>
  <h1>325 North Queen Street | The Keppel Building</h1>
  <h1>Lancaster, PA 17602</h1></br>
  <h1><a class="primary" href="https://goo.gl/maps/H2mUydYwkJB2">Get Directions</a></h1><br />
</div>
  <!-- <form action="mailto:cwoehrle@gmail.com">
    <div class="flex-l mhn1-l">
          Name
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
           Email
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

         Message
    <fieldset>
      <textarea name="name" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
         Button
    <div class="mt4 tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form> -->
</div>
