<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb2">

			<img src="/img/logo_wht.png" class="db w4 center mb4 br0">
			<p class="f5 lh-title light-gray fw3 tc">717-208-7344<br />
				contact@cabalarmeatco.com</p>
				<h1 class="tc">325 North Queen Street | The Keppel Building</h1>
				<h1 class="tc">Lancaster, PA 17602</h1></br>
			<!-- <p class="tc">Get the latest updates on new products and events.</p> -->

			<!--{{ partial "newsletter-form" . }}-->

		</div>

		<div class="flex justify-center">

			<!-- <div>
				 <h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div> -->


			<div>
				{{ partial "social-icon" (dict "link" "https://www.facebook.com/cabalarmeatco/" "svg" "icons-facebook") }}
				{{ partial "social-icon" (dict "link" "https://www.instagram.com/cabalarmeatco/" "svg" "icons-instagram") }}
				<!--<a href="https://www.facebook.com/cabalarmeatco/"<i class="link dib raise mr2 fab fa-facebook-square fa-3x"></i></a>
				<a href="https://www.instagram.com/cabalarmeatco/"<i class="link dib raise ml2 fab fa-instagram fa-3x"></i></a>-->
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
